app/WaveEngine.pdb
dev/ico/WaveEngine.aps
dev/tmp/

dev/.vs/WaveEngine/FileContentIndex/
dev/.vs/WaveEngine/v17/ipch
dev/.vs/WaveEngine/v17/Browse.VC.db
dev/.vs/WaveEngine/v17/Browse.VC.db-shm
dev/.vs/WaveEngine/v17/Browse.VC.db-wal
dev/.vs/WaveEngine/v17/Browse.VC.opendb